data
# logs
tensorboard
logs/tensorboard/*
tensorboard/*
logs/tensorboard
models

# ignore cython files
global-exclude *.pyx
global-exclude *.pyd
global-exclude *.so
global-exclude *.dll
global-exclude *.pyc
global-exclude *.pyo

# ignore build files
__pycache__

# specific files

trainingJob.sh