data
# logs
logs/tensorbord/*
tensorbord/*
logs/tensorbord/
models

# ignore cython files
global-exclude *.pyx
global-exclude *.pyd
global-exclude *.so
global-exclude *.dll
global-exclude *.pyc
global-exclude *.pyo

# ignore build files
__pycache__